body {
  margin: 0px;
  border: 10px dashed;
  border-color: solid black;
  border-radius: 80px;
  background-image: url("http://imgur.com/Jlpf4MH.jpg") 
}
header {
  width: 100%;
  height: 200px;
}
.first {
  font-family: 'Reenie Beanie', cursive;
  font-size: 110px;
  float: left;
  padding-top: 50px;
  padding-left: 35px;
}
.second {
  float: right;
}
.starfish {
  opacity: 0.8;
  height: 200px;
  border-radius: 90px;
  padding-top: 10px;
  padding-right: 10px; 
}
.third {
  width: 600px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
}
.ella {
  background: url("http://imgur.com/BqVmXjj.jpg") center;
  background-size: cover;
  opacity: 0.8;
  width: 600px;
  height: 400px;
}
.beachchair {
  background: url("http://imgur.com/QVPSaVm.jpg") no-repeat center;
  opacity: 0.8;
  width: 100%;
  height: 400px;
}
.ne {
  background: url("http://imgur.com/cVPq56v.jpg") no-repeat;
  background-size: cover;
  opacity: 0.8;
  width: 600px;
  height: 400px;  
}
footer {
  width: 100%;
  height: 155px;
}
.seamail {
  opacity: 0.8;
  height:145px;
  margin-left: 40px;
  border-radius: 40px;
}
.fourth {
  float: left;
}
.fifth {
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  float: right;
  width: calc(100% - 250px);
}
h4 {
  text-align: left;
  text-indent: 320px;
  padding-top: 75px;
}
small {
  opacity: 0;
}
.show-description p {
  height: 150px;  
}
.show-description small {
  opacity: 1;  
}
p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}